{% assign author = page.author | default: page.authors[0] | default: site.author %}
{% assign author = site.data.authors[author] | default: author %}

<script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>

<div itemscope itemtype="https://schema.org/Person">

  {% if author.avatar %}
    <div class="author__avatar">
      {% if author.home %}
        <a href="{{ author.home | relative_url }}">
          <img src="{{ author.avatar | relative_url }}" alt="{{ author.name }}" itemprop="image">
        </a>
      {% else %}
        <img src="{{ author.avatar | relative_url }}" alt="{{ author.name }}" itemprop="image">
      {% endif %}
    </div>
  {% endif %}

  <div class="author__content">
    {% if author.home %}
      <a href="{{ author.home | relative_url }}"><h3 class="author__name" itemprop="name">{{ author.name }}</h3></a>
    {% else %}
      <h3 class="author__name" itemprop="name">{{ author.name }}</h3>
    {% endif %}
    {% if author.bio %}
      <div class="author__bio" itemprop="description">
        {{ author.bio | markdownify }}
      </div>
    {% endif %}
  </div>

  <div class="author__urls-wrapper">
    <button class="btn btn--inverse">{{ site.data.ui-text[site.locale].follow_label | remove: ":" | default: "Follow" }}</button>
    <ul class="author__urls social-icons">
     
     <!-- Location -->
      <li>
        <a href="https://maps.app.goo.gl/vF1YqAQhRGU3b6ZbA" itemprop="sameAs" rel="nofollow noopener noreferrer">
          <i class="fas fa-map-marker-alt"></i><span class="label">Liverpool, United Kingdom</span>
        </a>
      </li>
      
      <!-- Mail -->
      <li>
        <a href="mailto:rajarshi.roy@liverpool.ac.uk">
          <meta itemprop="email" content="rajarshi.roy@liverpool.ac.uk" />
          <i class="fas fa-fw fa-envelope-square" aria-hidden="true"></i><span class="label">{{ site.data.ui-text[site.locale].email_label | default: "Email" }}</span>
        </a>
      </li>


      <!-- DBLP -->
      <li>
        <a href="https://dblp.org/pid/94/4026-2.html" itemprop="sameAs" rel="nofollow noopener noreferrer">
          <span class="iconify" data-icon="simple-icons:dblp" data-inline="false"></span><span class="label">DBLP</span>
        </a>
      </li>

      <!-- Google Scholar -->
      <li>
        <a href="https://scholar.google.com/citations?user=VC4UZ4AAAAAJ&hl=en" itemprop="sameAs" rel="nofollow noopener noreferrer">
          <span class="iconify" data-icon="simple-icons:googlescholar" data-inline="false"></span><span class="label">Google Scholar</span>
        </a>
      </li>

     <!-- GitHub -->
     <li>
       <a href="https://github.com/rajarshi008" itemprop="sameAs" rel="nofollow noopener noreferrer">
         <i class="fab fa-fw fa-github" aria-hidden="true"></i><span class="label">GitHub</span>
       </a>
     </li>
   
    
      
      {% include author-profile-custom-links.html %}
    </ul>
  </div>
</div> 
